Project_Code_S2019/Restaurant/Debug/
Project_Code_S2019/Debug/
Project_Code_S2019/.vs/Restaurant/v15/ipch/AutoPCH/9e6aae6c61e01bea/DEMO_MAIN.ipch
Project_Code_S2019/.vs/
Project_Code_S2019/Restaurant/Restaurant.vcxproj.user
Project_Code_S2019/Restaurant.sdf
Project_Code_S2019/Restaurant.v11.suo
Project_Code_S2019/Restaurant.opensdf
Project_Code_S2019/Restaurant/classes/client.h
Project_Code_S2019/Restaurant/classes/client.cpp
